<div class="container">
    <div class="row mt-5">
        <div class="col-12 text-center">
            <h1 style="font-weight: 700;">Prueba Desarollador FullStack</h1>
            <h2>Pablo Andres Diaz Mora</h2>
            <div style="position: absolute; top: 10px; height: 40px; left: 10px">
                <img src="assets/icons/1_WaaXnUvhvrswhBJSw4YTuQ.png" alt="" style="height: 40px;">
                <small><a style="display:block; font-weight: 700;" href="#">Link Angular</a></small>
                <small><a style="display:block; font-weight: 700;" href="#">Link Laravel</a></small>
            </div>
        </div>
        <div class="col-6 mt-2">
            <div style="text-align:right">
                <img class="float-right" src="assets/icons/Angular_full_color_logo.svg.png" height="110" alt="" srcset="">
            </div>
        </div>
        <div class="col-6 mt-2">
            <div style="text-align:left">
                <img class="mt-2" src="assets/icons/logomark.min.svg" height="100" alt="" srcset="">
            </div>
        </div>
    </div>    
</div>

